@using System.Data
@model DataSet
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Budget</title>
</head>


<body>
  
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>BudgetName</th>
            <th>Year</th>
            <th>AccountName</th>
            <th>LongDescription</th>
            <th>January</th>
            <th>February</th>
            <th>March</th>
            <th>April</th>
            <th>June</th>
            <th>July</th>
            <th>August</th>
            <th>September</th>
            <th>October</th>
            <th>November</th>
            <th>December</th>

        </tr>
        @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <tr>
                <td>@row["Budgetnavn"]</td>
                <td>@row["År"]</td>
                <td>@row["Kontogruppe"]</td>
                <td>@row["KontoNavn"]</td>
                <td>@row["Januar"]</td>
                <td>@row["Februar"]</td>
                <td>@row["Marts"]</td>
                <td>@row["April"]</td>
                <td>@row["Juni"]</td>
                <td>@row["Juli"]</td>
                <td>@row["August"]</td>
                <td>@row["September"]</td>
                <td>@row["Oktober"]</td>
                <td>@row["November"]</td>
                <td>@row["December"]</td>
            </tr>
        }
    </table>
</body>
</html>