@*Written by Thomas and Mikael*@

@model XenaBudgetManager.Models.Budget

@{
    var dropdownValues = new List<SelectListItem>();
    dropdownValues.Add(new SelectListItem
    {
        Text = "Januar",
        Value = "0"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "Februar",
        Value = "1"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "Marts",
        Value = "2"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "April",
        Value = "3"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "Maj",
        Value = "4"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "Juni",
        Value = "5"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "Juli",
        Value = "6"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "August",
        Value = "7"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "September",
        Value = "8"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "Oktober",
        Value = "9"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "November",
        Value = "10"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "December",
        Value = "11"
    });
}

@if (!Model.NewBudget)
{
    using (Html.BeginForm("SelectBudget", "Budget", FormMethod.Post))
    {
        <div class="form-group edit-budget">
            @Html.Label("Vælg et Budget", new { @class = "control-label col-md-10" })
            @Html.DropDownList("budgetID", new SelectList(ViewBag.budgetList, "Value", "Text"), new { @class = "form-control" })

            <input type="submit" value="Hent Budget" class="btn btn-default cust-editbtn" />

        </div>
    }
}

<div style="padding-top: 1.5em">
    @Html.DropDownList("DDlDemo", new SelectList(dropdownValues, "Value", "Text"), new
    {
        onchange = @"ShowMonth();"
    })
</div>


<h3>
    Indtastninger for <span id="MonthName">Januar</span>
</h3>
@using (Html.BeginForm("EditBudget", "Budget", FormMethod.Post))
{
    @Html.HiddenFor(model => model.budgetID)
    @Html.HiddenFor(model => model.NewBudget)
    @Html.HiddenFor(model => model.budgetName)
    @Html.HiddenFor(model => model.budgetYear)
    @Html.HiddenFor(model => model.XenaFiscalID)
    if (Model != null && Model.groupList != null && Model.groupList.groupList != null)
    {
        @Html.EditorFor(x => x.groupList)
    }

    <input type="submit" value="Gem Budget" class="btn btn-default" />
}

<script>
    function ShowMonth() {
        $('.monthInput').hide(); //Skjuler alle div af klassen monthDiv
        $('.month' + $('#DDlDemo').val())
            .show(); //viser det div har klassen month1 f.eks. hvis der er valgt februar i dropdownen
        $('#MonthName').text($('#DDlDemo option:selected').text());
    }
</script>