@*Written by Thomas and Mikael*@
@model XenaBudgetManager.Models.Budget

@{
    var dropdownValues = new List<SelectListItem>();
    dropdownValues.Add(new SelectListItem
    {
        Text = "Januar",
        Value = "0"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "Februar",
        Value = "1"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "Marts",
        Value = "2"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "April",
        Value = "3"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "Maj",
        Value = "4"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "Juni",
        Value = "5"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "Juli",
        Value = "6"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "August",
        Value = "7"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "September",
        Value = "8"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "Oktober",
        Value = "9"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "November",
        Value = "10"
    });
    dropdownValues.Add(new SelectListItem
    {
        Text = "December",
        Value = "11"
    });
}



@Html.DropDownList("DDlDemo", new SelectList(dropdownValues, "Value", "Text"), new
{
    onchange = @"ShowMonth();"
})

<h3>
    Indtastninger for <span id="MonthName">Januar</span>
</h3>
@using (Html.BeginForm("EditBudget", "Budget", FormMethod.Post))
{
    @Html.HiddenFor(model => model.budgetID)
    @Html.HiddenFor(model => model.budgetName)
    @Html.HiddenFor(model => model.budgetYear)
    @Html.HiddenFor(model => model.XenaFiscalID)

    @Html.EditorFor(x => x.groupList)
  <input type = "submit" value = "Gem budget"/>

}

<script>
    function ShowMonth() {
        $('.monthInput').hide(); //Skjuler alle div af klassen monthDiv
        $('.month' + $('#DDlDemo').val())
            .show(); //viser det div har klassen month1 f.eks. hvis der er valgt februar i dropdownen
        $('#MonthName').text($('#DDlDemo option:selected').text());
    }
</script>