@model IEnumerable<XenaBudgetManager.Models.LedgerGroupData>
@{
    ViewBag.Title = "Regnskab";
    ViewBag.Title = "LedgerGroupData";
}

<h2>Regnskab</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Regnskab</h4>
        <hr />
        <div class="form-group">
            @Html.Label("Vælg en Start Dato", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("fromDate", new { htmlAttributes = new { @class = "form-control", type = "date" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Vælg en Slut Dato", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("toDate", new { htmlAttributes = new { @class = "form-control", type = "date" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Se Regnskab" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TranslatedGroup)

        </th>

        <th>
            @Html.DisplayNameFor(model => model.AmountMonth)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.AmountYearToDate)
        </th>



        <th></th>
    </tr>
</table>
    @foreach (var item in Model)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Budget<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Vis Regnskab", "Accounting", "Accounting", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Opret Budget", "CreateBudget", "Budget", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Vis Budget", "Budget", "Budget", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Group Data", "LedgerGroupData", "Accounting", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Group Detailed Data", "LedgerGroupDetailData", "Accounting", new { area = "" }, null)</li>
            </ul>
        </li>
        <tr class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.DisplayFor(modelItem => item.TranslatedGroup)</a>
            <td>
                @Html.DisplayFor(modelItem => item.TranslatedGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountMonth)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.AmountYearToDate)
            </td>
      
        </tr>
    }


@*Claus - attempt to persist to db*@
<div id="gridContent">
    <input type="button" value="Opdater Kontoplan" onclick="location.href='@Url.Action("LedgerTag", "Accounting")'" />
</div>


