@*Written by Claus and Jonas*@

@model IEnumerable<XenaBudgetManager.Models.LedgerGroupData>

@{
    ViewBag.Title = "Vis Regnskab for: " + Session["fiscalSetupName"];
}

<h2>Vis Regnskab for @Session["fiscalSetupName"]</h2>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/slideToggle.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        <hr />
        <div class="form-group">
            @Html.Label("Vælg en Start Dato", new { @class = "control-label col-md-10" })
            @Html.Editor("fromDate", new { htmlAttributes = new { @class = "form-control", type = "date" } })
        </div>

        <div class="form-group">
            @Html.Label("Vælg en Slut Dato", new { @class = "control-label col-md-10" })
            @Html.Editor("toDate", new { htmlAttributes = new { @class = "form-control", type = "date" } })
        </div>

        <div class="form-group">
            @Html.Label("Vælg et Budget", new { @class = "control-label col-md-10" })
            @Html.DropDownList("budgetID", new SelectList(ViewBag.budgetList, "Value", "Text"), new { @class = "form-control" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vis Regnskab" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@{
    if (ViewBag.datePickedCorrect == false)
    {
        <script type="text/javascript">
            alert('Du skal vælge 2 korrekte datoer fra samme år');
        </script>
    }

    if (ViewBag.datePicked == true && ViewBag.datePickedCorrect == true)
    {
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TranslatedGroup)
                </th>
                <th>
                    @Html.DisplayName("Budget Periode")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountMonth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountYearToDate)
                </th>
                <th>
                    @Html.DisplayName("Difference")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                double periodTotal = 0;

                <tr>
                    <td class="line">
                        <b>@Html.DisplayFor(modelItem => item.TranslatedGroup)</b>
                        <div class="slide">

                            @foreach (var list in item.LedgerGroupDetailDataList)
                            {
                                <p>@Html.DisplayFor(modelItemList => list.AccountDescription)</p>
                            }

                        </div>
                    </td>

                    @*lines for budget figures*@
                    <td class="line">
                        <b class="placeholder"></b>
                        <div class="slide">
                            @foreach (var list in item.AccountList)
                            {
                                <p>@Html.DisplayFor(modelItemList => list.Total)</p>
                                periodTotal += list.Total;
                            }
                        </div>
                        <b class="hideFiscal">@periodTotal</b>
                    </td>

                    @*lines for fiscals*@
                    <td class="line">
                        <b class="hideFiscal">@Html.DisplayFor(modelItem => item.AmountMonth)</b>
                        <b class="placeholder"></b>
                        <div class="slide">

                            @foreach (var list in item.LedgerGroupDetailDataList)
                            {
                                <p>@Html.DisplayFor(modelItemList => list.AmountMonth)</p>
                            }

                        </div>
                    </td>
                    <td class="line">
                        <b class="hideFiscal">@Html.DisplayFor(modelItem => item.AmountYearToDate)</b>
                        <b class="placeholder"></b>
                        <div class="slide">

                            @foreach (var list in item.LedgerGroupDetailDataList)
                            {
                                <p>@Html.DisplayFor(modelItemList => list.AmountYearToDate)</p>
                            }

                        </div>
                    </td>

                    @*line for comparison - create class that compres budget and fiscal*@
                    <td class="line">
                        <b class="hideFiscal">@Html.DisplayFor(modelItem => item.AmountYearToDate)</b>
                        <b class="placeholder"></b>
                        <div class="slide">

                            @foreach (var list in item.LedgerGroupDetailDataList)
                            {
                                <p>@Html.DisplayFor(modelItemList => list.AmountYearToDate)</p>
                            }

                        </div>
                    </td>



                </tr>
            }

        </table>
    }
}
