@model IEnumerable<XenaBudgetManager.Models.LedgerGroupData>

@{
    ViewBag.Title = "LedgerGroupData";
}

<h2>LedgerGroupData</h2>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(
        function () {
            $('.placeholder').slideUp();
            $('.slide').slideUp();
            $(".line").click(
                function () {

                    $(this).children(".slide").slideToggle();
                    $(this).nextAll().children(".slide").slideToggle();
                    
                    $(this).nextAll().children(".placeholder").slideToggle();
                    $(this).nextAll().children(".hideFiscal").slideToggle();
                }
            );
        }
    );
</script>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TranslatedGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountYearToDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
             
                 <td class="line">
                    <b>@Html.DisplayFor(modelItem => item.TranslatedGroup)</b>
                    <div class="slide">

                        @foreach (var list in item.LedgerGroupDetailDataList)
                        {
                            <p>@Html.DisplayFor(modelItemList => list.AccountDescription)</p>
                        }

                    </div>
                </td>
                <td class="line">
                    <b class="hideFiscal" >@Html.DisplayFor(modelItem => item.AmountMonth)</b>
                    <b class="placeholder" ></b>
                    <div class="slide">


                        @foreach (var list in item.LedgerGroupDetailDataList)
                        {
                            <p>@Html.DisplayFor(modelItemList => list.AmountMonth)</p>
                        }

                    </div>
                </td>
                <td class="line">
                    <b class="hideFiscal">@Html.DisplayFor(modelItem => item.AmountYearToDate)</b>
                    <b class="placeholder"></b>
                     <div class="slide">


                        @foreach (var list in item.LedgerGroupDetailDataList)
                        {
                            <p>@Html.DisplayFor(modelItemList => list.AmountYearToDate)</p>
                        }

                    </div>
                    
                </td>
            

        </tr>
    }
</table>
