@model IEnumerable<XenaBudgetManager.Models.LedgerGroupData>

@{
    ViewBag.Title = "LedgerGroupData";
}

<h2>LedgerGroupData</h2>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(
        function () {

            $('td div').slideUp();
            $('td h5').click(
                function () {
                    $(this).siblings('div').slideToggle();
                }
            );
        }
    );
</script>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TranslatedGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountYearToDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h5>@Html.DisplayFor(modelItem => item.TranslatedGroup)</h5>
                <div>

                    @foreach (var list in item.LedgerGroupDetailDataList)
                    {
                        <p>@Html.DisplayFor(modelItemList => list.Group)</p>
                        <p>@Html.DisplayFor(modelItemList => list.AccountDescription)</p>
                    }

                </div>
            </td>
            <td>
                <h5>@Html.DisplayFor(modelItem => item.AmountMonth)</h5>
                <div>

                    @foreach (var list in item.LedgerGroupDetailDataList)
                    {
                        <p>@Html.DisplayFor(modelItemList => list.AmountMonth)</p>
                    }

                </div>
            </td>
            <td>
                <h5>@Html.DisplayFor(modelItem => item.AmountYearToDate)</h5>
                <div>

                    @foreach (var list in item.LedgerGroupDetailDataList)
                    {
                        <p>@Html.DisplayFor(modelItemList => list.AmountYearToDate)</p>
                    }

                </div>
            </td>
        </tr>
    }
</table>
