﻿@*Written by Mikael and Thomas*@
@model XenaBudgetManager.Models.Account
<div style="margin-top:-15px">
    <table style="width:100%">
        <tr>
            <td style="width:50%">
                <h5>
                    <p>@Html.DisplayFor(modelItemList => Model.accountName)</p>
                </h5>
            </td>
            <td style="margin-right:0;align-content:flex-end">
                @Html.HiddenFor(model => model.accountID)
                @Html.HiddenFor(model => model.accountName)
                @Html.HiddenFor(model => model.Total)


                @Html.EditorFor(model => Model.January, new { htmlAttributes = new { @class = "form-control monthInput month0" } })

                @Html.EditorFor(model => Model.February, new { htmlAttributes = new { @class = "form-control monthInput month1", style = "display:none" } })

                @Html.EditorFor(model => Model.March, new { htmlAttributes = new { @class = "form-control monthInput month2", style = "display:none" } })

                @Html.EditorFor(model => Model.April, new { htmlAttributes = new { @class = "form-control monthInput month3", style = "display:none" } })

                @Html.EditorFor(model => Model.May, new { htmlAttributes = new { @class = "form-control monthInput month4", style = "display:none" } })

                @Html.EditorFor(model => Model.June, new { htmlAttributes = new { @class = "form-control monthInput month5", style = "display:none" } })

                @Html.EditorFor(model => Model.July, new { htmlAttributes = new { @class = "form-control monthInput month6", style = "display:none" } })

                @Html.EditorFor(model => Model.August, new { htmlAttributes = new { @class = "form-control monthInput month7", style = "display:none" } })

                @Html.EditorFor(model => Model.September, new { htmlAttributes = new { @class = "form-control monthInput month8", style = "display:none" } })

                @Html.EditorFor(model => Model.October, new { htmlAttributes = new { @class = "form-control monthInput month9", style = "display:none" } })

                @Html.EditorFor(model => Model.November, new { htmlAttributes = new { @class = "form-control monthInput month10", style = "display:none" } })

                @Html.EditorFor(model => Model.December, new { htmlAttributes = new { @class = "form-control monthInput month11", style = "display:none" } })





            </td>
        </tr>
    </table>
</div>