@model XenaBudgetManager.Models.Account
<div>
    <h3>
        <p>@Html.DisplayFor(modelItemList => Model.accountName)</p> 
    </h3>

    @Html.HiddenFor(model=>model.accountID)
    @Html.HiddenFor(model=>model.accountName)
    @Html.HiddenFor(model=>model.Total)
    
    
    @Html.EditorFor(model => Model.January, new {htmlAttributes = new {@class = "form-control monthInput month0" } })
    
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(Model => Model.January, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(Model => Model.February, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(Model => Model.March, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(Model => Model.April, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(Model => Model.May, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(Model => Model.June, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(Model => Model.July, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(Model => Model.August, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(Model => Model.September, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(Model => Model.October, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(Model => Model.November, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(Model => Model.December, "", new { @class = "text-danger" })*@






    @Html.EditorFor(model => Model.February, new {htmlAttributes = new {@class = "form-control monthInput month1", style="display:none" } })

    @Html.EditorFor(model => Model.March, new {htmlAttributes = new {@class = "form-control monthInput month2", style = "display:none" } })

    @Html.EditorFor(model => Model.April, new {htmlAttributes = new {@class = "form-control monthInput month3", style = "display:none" } })

    @Html.EditorFor(model => Model.May, new {htmlAttributes = new {@class = "form-control monthInput month4", style = "display:none" } })

    @Html.EditorFor(model => Model.June, new {htmlAttributes = new {@class = "form-control monthInput month5", style = "display:none" } })

    @Html.EditorFor(model => Model.July, new {htmlAttributes = new {@class = "form-control monthInput month6", style = "display:none" } })

    @Html.EditorFor(model => Model.August, new {htmlAttributes = new {@class = "form-control monthInput month7", style = "display:none" } })

    @Html.EditorFor(model => Model.September, new {htmlAttributes = new {@class = "form-control monthInput month8", style = "display:none" } })

    @Html.EditorFor(model => Model.October, new {htmlAttributes = new {@class = "form-control monthInput month9", style = "display:none" } })

    @Html.EditorFor(model => Model.November, new {htmlAttributes = new {@class = "form-control monthInput month10", style = "display:none" } })

    @Html.EditorFor(model => Model.December, new {htmlAttributes = new {@class = "form-control monthInput month11", style = "display:none" } })@*skulle gerne - giver hver inputfelt et unikt id der indikere kontiId og måned*@
    <hr/>
</div>